<div [hidden]="hidden">
  <!-- Interpolation binding  -->
  <p>{{ name }}</p>

  <!-- Property binding -->
  <h1 [innerText]="name"></h1>
</div>

<!-- Event binding -->
<button (click)="hide()">click</button>

<!-- Built-in structural directives -->
<div *ngIf="rooms.avalibleRooms > 0">
  {{ rooms.avalibleRooms }}
</div>
<table>
  <tr>
    <th>index</th>
    <th>room number</th>
    <th>room type</th>
    <th>room price</th>
  </tr>

  <!-- Built-in structural directives -->

  <tr
    [ngClass]="e ? 'even' : 'odd'"
    *ngFor="let room of roomList; let i = index; let e = even"
  >
    <td>{{ i }}</td>
    <td>{{ room.roomNumber }}</td>
    <td>{{ room.roomType }}</td>
    <td>{{ room.price }}</td>
  </tr>
</table>
